extends ../base

block append css
    link(rel='stylesheet', href='css/rightcontent_fixfooter_header.css')


block layout

    include ../components/header

    .main

        .content
            .global-inner-pdding
                block content

        include ../components/panel

    include ../components/fixfooter
