extends ../base

block append css
    link(rel='stylesheet', href='css/leftcontent_fixfooter_header.css')


block layout

    include ../components/header

    .main
        include ../components/panel

        .content
            block content

    include ../components/fixfooter
