
mixin tabs(list)
    ul.accordion-tabs
        each val, index in list
            li.tab-header-and-content
                a.tab-link(href='javascript:void(0)')=  index
                .tab-content
                    p= val


