@import "../../bower_components/susy/sass/susy";
@import "../../bower_components/breakpoint-sass/stylesheets/breakpoint";

.header {
  .header_content {
    padding: 10px;
  }
}

.main {
  @include container();
  padding-top: 10px;
}

.panel {
  padding: 10px;

  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  @include span(1 of 1);
  @include breakpoint(500px)
  {
    @include span(1 of 4);
  }
}

.content {
  padding: 10px;
}

.footer {
  width: 100%;
}

.fixedfooter {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  .footer_content {
    padding: 10px;
  }
}
