extends jade/layouts/header_leftcontent_fixfooter


block header_content

    | here is the header

block panel_content
    ul
        li home
        li about
        li kontakt
        li news

block content
    | here is the content


block footer_content

    | footer content goes here
