extends jade/layouts/header_leftcontent_fixfooter


block header_content

    | HEADER

block panel_content
    ul
        li home
        li about
        li kontakt
        li news

block content
    | here is the content


block footer_content

    | FOOTER 
